<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>quiz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none" (click)="showParticipantList = !showParticipantList">
        <ion-label>
            {{quiz?.participants.length}} deelnemers
        </ion-label>
        <ion-badge color="secondary" slot="end">
            {{progressOfParticipants() * 100}}%
        </ion-badge>
        <ion-icon [name]="showParticipantList ? 'chevron-down-outline' : 'chevron-up-outline'" slot="end"></ion-icon>
    </ion-item>
    <ion-progress-bar color="tertiary" [value]="progressOfParticipants()"></ion-progress-bar>
    <!--    todo create component-->
    <ion-list *ngIf="showParticipantList">
        <ng-container *ngFor="let participant of quiz?.participants">
            <ion-item lines="none">
                <ion-label>{{participant.naam}}</ion-label>
                <ion-badge slot="end" color="secondary">{{participant.questions}}</ion-badge>
            </ion-item>
            <ion-progress-bar color="tertiary" [value]="progressOfParticipant(participant)"></ion-progress-bar>
        </ng-container>
    </ion-list>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                {{quiz?.beschrijving}} {{quiz?.aantalVragen}}
            </ion-card-title>
            <ion-card-subtitle (click)="copyQuizIdToClipboard()">
                {{quiz?.id}}
                <ion-icon size="medium" name="copy-outline"></ion-icon>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-progress-bar color="secondary" value="1"></ion-progress-bar>
        <ion-card-content>
            <ion-item *ngIf="isReadyForQuiz" class="ion-text-wrap">Het is wachten tot de quizmaster de quiz start. Klik
                op de deelnemers om te zien wie er mee doen en hoeveel vragen ze al hebben bedacht.
            </ion-item>
            <ion-list>
                <ion-item *ngFor="let question of questions">
                    <ion-label  class="ion-text-wrap">
                        <ion-text color="primary">
                            <h2>Vraag: {{question.vraag}}</h2>
                        </ion-text>
                        <p>a: {{question.a}}</p>
                        <p>b: {{question.b}}</p>
                        <p>c: {{question.c}}</p>
                        <p>d: {{question.d}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-footer class="ion-no-border">
                <ion-toolbar>
                    <ion-button expand="block" color="secondary" *ngIf="!isReadyForQuiz" (click)="createQuestion()">Voeg
                        vraag toe
                    </ion-button>
                </ion-toolbar>
            </ion-footer>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-button expand="block" color="primary" *ngIf="authService?.isAdmin" (click)="startQuiz()">
            Start de Quiz
        </ion-button>
    </ion-toolbar>
</ion-footer>
